body{
    background-color: #DDFFFF;
    color: #004400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
}
.cím{
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
}
h1{
    background-color: #0bee97;
    width: 400px;
    height: 100px;
    text-align: center;
    border: 3px double gray;
    padding-top: 10px;
}
.right{
    float: right;
    font-weight: bold;
}
#elso tr{
    background-color: rgb(9, 253, 160);
    border: 2px solid white;
    text-align: center;
}
#elso tr:first-child{
    background-color: green;
}
#elso tr:last-child{
    background-color: green;
}
#masodik{
    background-color: rgb(9, 253, 160);
    font-weight: bold;
    border: 1px solid gray;
}
#masodik td{
    border: 1px solid gray;
}
img{
    width: 150px;
    height: 175px;
    float: left;
    padding-right: 30px;
}
hr{
    width: 750px;
}
#email{
    text-decoration: underline;
}
.vastag{
    font-weight: bold;
}
a{
    color: #004100;
}